.input-wrapper {
  @apply flex flex-col;
}
.input {
  @apply h-12 px-5 text-xs border transition-all duration-300 w-full;
}
.input:focus {
  @apply outline-none;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(45deg, #1A3D73, #2063A7) 1;
}