.jumbotron {
  @apply relative flex flex-col justify-center w-full overflow-hidden bg-gradient-to-br ;
}
.jumbotron[aria-label="primary"] {
  @apply text-white ;
  background: linear-gradient(122.56deg, #1A3D73 0%, #EF4923 183.46%);
}
.jumbotron[aria-label="white"] {
  @apply from-white to-white text-etd-black;
}
.jumbotron[aria-label="white"] .jumbotron__title {
    background: -webkit-linear-gradient(45deg, #1A3D73, #2063A7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jumbotron[aria-label="none"] {
  @apply from-transparent to-transparent;
}
.jumbotron--screen {
  @apply h-screen max-h-[1080px];
}
.jumbotron--3\/4 {
  height: 75vh;
}
.jumbotron--hero {
  @apply h-[92vh]
}
.jumbotron__img {
  @apply absolute inset-0 opacity-20;
}
.jumbotron__img img {
  @apply object-cover object-center w-full h-full;
}
.jumbotron__content {
  @apply relative flex flex-col w-full;
}
.jumbotron__content[aria-label='left'] {
  @apply items-start text-left;
}
.jumbotron__content[aria-label='center'] {
  @apply items-center text-center mx-auto max-w-lg;
}
.jumbotron__content[aria-label='right'] {
  @apply items-end text-right;
}
.jumbotron__title {
  @apply mb-4 text-4xl font-semibold leading-tight max-w-md xl:text-5xl xl:max-w-xl xl:leading-tight;
}
.jumbotron__subtitle {
  @apply text-lg max-w-md xl:max-w-xl;
}
.jumbotron__btn {
  @apply mt-16;
}